---
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      tfbackend:
        required: false
        type: string
        default: this.s3.tfbackend
      bucket:
        required: true
        type: string
      table:
        required: true
        type: string
      key:
        required: true
        type: string
      region:
        required: true
        type: string

    outputs:
      tfbackend:
        description: The filename used to save the backend config
        value: ${{ jobs.tfbackend.outputs.tfbackend }}

jobs:
  tfbackend:
    runs-on: ${{ inputs.runs-on }}

    environment: ${{ inputs.environment }}

    outputs:
      tfbackend: ${{ steps.render.outputs.tfbackend }}

    steps:
      - name: Render .tfbackend
        id: render
        run: |
          cat > ./${{ inputs.tfbackend }} << EOF
          bucket         = "${{ inputs.bucket }}"
          dynamodb_table = "${{ inputs.table }}"
          key            = "${{ inputs.key }}"
          region         = "${{ inputs.region }}"
          encrypt        = true
          EOF
          echo "tfbackend=${{ inputs.tfbackend }}" >> "${GITHUB_OUTPUT}"

      - name: Save .tfbackend
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.render.outputs.tfbackend }}
          path: ./${{ steps.render.outputs.tfbackend }}
          if-no-files-found: error
